:root {
	--main-text-color: #212121;
	--special-text-color: #757575;
	--hover-color: #2196f3;
	--light-text-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--main-text-color);
}

img {
	display: block;
}

.header {
	padding-top: 25px;
	padding-bottom: 25px;
}

.navigation-container {
	width: 1200px;
	padding: 0 15;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.navigetion {
	display: flex;
	align-items: center;
}

.header-navigation {
	list-style-type: none;
	display: flex;
}

.logo-header {
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	margin-right: 93px;
}

.header-web-color {
	color: var(--main-text-color);
}

.site-nav {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
}

.site-nav-item:not(:last-child) {
	margin-right: 50px;
}

.site-nav:hover,
:focus {
	color: var(--hover-color);
}

.contacts-list {
	display: flex;
	list-style-type: none;
	margin-left: auto;
}

.contacts-list-item:not(:first-child) {
	margin-left: 50px;
}

.contacts {
	color: var(--special-text-color);
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
}

.contacts:hover,
:focus {
	color: var(--hover-color);
}

.hero {
	background: #2f303a;
}

.hero-title {
	color: var(--light-text-color);
	font-family: Roboto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.363;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding-top: 280px;
	padding-left: 452px;
	padding-right: 452px;
}

.hero-btn {
	color: var(--light-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	min-width: 200px;
	padding: 10px 32px;
	justify-content: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.advantages-title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantages-list {
	list-style-type: none;
}

.advantage-item {
	color: var(--special-text-color);
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
}

.directions-title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.166;
	text-align: center;
	letter-spacing: 0.03em;
}

.team {
	background: #f5f4fa;
	/*width: 1600px;
	height: 648px;*/
}

.team-title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.166;
	text-align: center;
	letter-spacing: 0.03em;
}

.team-list {
	list-style-type: none;
}

.person-card-list {
	list-style-type: none;
}

.person-card-title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	text-align: center;
	letter-spacing: 0.03em;
}

.profession {
	color: var(--special-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.187;
	text-align: center;
	letter-spacing: 0.03em;
}

/*footer*/

.footer {
	background: #2f303a;
	width: 1600px;
	height: 252px;
}

.web-color {
	color: #2196f3;
}

.footer-web-color {
	color: white;
}

.address-list {
	list-style-type: none;
}

.address-post {
	color: var(--light-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
}

.address-footer {
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
}

/*portfolio*/

.filter-buttons {
	list-style-type: none;
}

.filter-buttons-item {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	background: #f5f4fa;
	border-radius: 4px;
}

.filter-buttons-item:hover {
	color: var(--light-text-color);
	background: #2196f3;
}

.product-cards {
	list-style-type: none;
}

.product-cards-title {
	color: var(--main-text-color);
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.product-card-filter {
	color: var(--special-text-color);
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
}

.product-cards-design {
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
}
